* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 40px;
  max-width: 100%;
  background-color: white;
}

.input-group label {
  width: 150px;
  padding: 0.5rem;
  text-transform: capitalize;
}

.input-group input {
  border: 1px solid #0d7cb4;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 40px;
  padding: 0 1rem;
}

.input-group .search {
  height: 40px;
  width: 40px;
  background-color: #0d7cb4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  cursor: pointer;
  margin-left: -5px;
}

.input-group .search svg {
  fill: white;
  height: 30px;
  width: 30px;
}

.input-group.noborder {
  border: none;
}

.profile {
  background-color: whitesmoke;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.profile .profile-wraper {
  padding: 0 1rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  border: 1px solid red;
}

.profile .profile-nav {
  padding: 2rem 0;
}

.profile .profile-nav button {
  padding: 1rem 2rem;
  border: 0;
  margin-right: 2rem;
  cursor: pointer;
  background-color: #0d7cb4;
  color: white;
  font-size: 1.2rem;
  border-radius: 5px;
}

.profile .profile-nav button:active, .profile .profile-nav button:focus {
  outline: 0;
}

.profile .my-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.admin-nav {
  height: 60px;
  background-color: #464646;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
}

.admin-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.admin-page .admin-side-nav {
  width: 300px;
  background-color: #0d7cb4;
}

.admin-page .admin-side-nav a {
  display: block;
  text-decoration: none;
  padding: 2rem;
  color: white;
  text-transform: capitalize;
  font-size: 1.2rem;
  border-bottom: 1px solid #dddddd;
}

.admin-page .admin-content {
  padding: 2rem;
  width: calc(100% - 300px);
}

.admin-user-info-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 3rem;
  padding: 1rem;
}

.admin-user-info-area .input-group {
  margin: 1rem 0;
  margin-right: 2rem;
  width: 45%;
}

.admin-user-info-area .input-group input {
  border-color: #0d7cb44f;
}

.admin-user-info-area .checkbox {
  width: 15%;
}

.admin-user-info-area .checkbox input {
  height: 20px;
}

.admin-user-info-area .about {
  width: 100%;
  margin: 1rem 0;
}

.admin-user-info-area .about p {
  margin: 1rem 0;
}

.admin-user-info-area .about textarea {
  margin: 1rem 0;
  width: 100%;
  height: 200px;
  padding: 1rem;
  border-color: #0d7cb44f;
  outline: none;
}

.admin-user-info-area .save {
  width: 100%;
  margin: 2rem 0;
}

.admin-user-info-area .save button {
  padding: 0.8rem 3rem;
  background-color: #0d7cb4;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}
