.profile {
  background-color: whitesmoke;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.profile .profile-wraper {
  padding: 0 1rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  border: 1px solid red;
}

.profile .profile-nav {
  padding: 2rem 0;
}

.profile .profile-nav button {
  padding: 1rem 2rem;
  border: 0;
  margin-right: 2rem;
  cursor: pointer;
  background-color: #0d7cb4;
  color: white;
  font-size: 1.2rem;
  border-radius: 5px;
}

.profile .profile-nav button:active, .profile .profile-nav button:focus {
  outline: 0;
}

.profile .my-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
